In [1]:
l = [[[[['i','have','the'],['knowledge','of','programming']]]]]

In [11]:
l[0][0][0][0][1]

'have'

In [12]:
l[0][0][0][1][2]

'programming'

In [18]:
lst = [[[[['i','have','the','gadi','bungalow','bank balance'],['knowledge','of','of python','python']]]]]

In [19]:
lst

[[[[['i', 'have', 'the', 'gadi', 'bungalow', 'bank balance'],
    ['knowledge', 'of', 'of python', 'python']]]]]

In [20]:
lst[0][0][0][0][1]

'have'

In [21]:
lst[0][0][0][1][0]

'knowledge'

In [24]:
l = [[[[1,2,3,['i','like',['java','python','c++']]]]]]

In [25]:
l

[[[[1, 2, 3, ['i', 'like', ['java', 'python', 'c++']]]]]]

In [26]:
l[0][0][0][2]

3

In [29]:
l[0][0][0][3][2][1]

'python'

In [30]:
l[0][0][0][3][2][2]

'c++'

In [67]:
tup = (1,2,3,4,3,4,5)

In [72]:
print(type(tup))

<class 'tuple'>

In [73]:
tup

(1, 2, 3, 4, 3, 4, 5)

In [74]:
tup.index(2)

1

In [75]:
tup.count(4)

2

In [78]:
tup = ([1,2,3,4,4],1,2)

In [79]:
tup

([1, 2, 3, 4, 4], 1, 2)

In [82]:
tup[0].append(1)

In [81]:
tup

([1, 2, 3, 4, 4, 1], 1, 2)

In [83]:
tup

([1, 2, 3, 4, 4, 1, 1], 1, 2)

In [1]:
mydata = {
    'name': 'Amit',
    'age': 23,
    'designation': 'Developer',
    'salary': 100000
}

In [104]:
print(mydata)

{'name': 'Amit', 'age': 23, 'designation': 'Developer', 'salary': 100000}

In [105]:
print(type(mydata))

<class 'dict'>

In [106]:
hash(mydata['name'])

-4881352310430299653

In [107]:
mydata.keys()

dict_keys(['name', 'age', 'designation', 'salary'])

In [108]:
mydata.values()

dict_values(['Amit', 23, 'Developer', 100000])

In [109]:
mydata.items()

dict_items([('name', 'Amit'), ('age', 23), ('designation', 'Developer'), ('salary', 100000)])

In [110]:
mydata.get('name')

'Amit'

In [111]:
mydata.popitem()

('salary', 100000)

In [2]:
mydata

{'name': 'Amit', 'age': 23, 'designation': 'Developer', 'salary': 100000}

In [3]:
mydata.setdefault

In [19]:
mydata1 = {}

In [25]:
mydata1.setdefault('name')
print(mydata1)

{'name': None}

In [26]:
city = ('Mumbai','Surat','Delhi')
val = 0
mydata1.fromkeys(city,val)

{'Mumbai': 0, 'Surat': 0, 'Delhi': 0}

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [9]:
l

['A', 'm', 'i', 't']