# What is ZeroDivisionError, NameError, ValueError, TypeError? Write  a program for the same.

### ZeroDivisionError

In [5]:
num = int(input("Enter a number: "))

n = num / 0
print(n)

Enter a number: 10

ZeroDivisionError: division by zero

In [6]:
num = int(input("Enter a number: "))

try:
    n = num / 0
    print(n)
    
except ZeroDivisionError as ze:
    print("Exception occurred:",ze)

Enter a number: 10
Exception occurred: division by zero

### NameError

In [7]:
print("Name is",name)

NameError: name 'name' is not defined

In [8]:
try:
    
    print("Name is",name)
    
except NameError as ne:
    print("Exception occurred:",ne)

Exception occurred: name 'name' is not defined

### ValueError

In [10]:
n = int(input("Enter a number: "))

print("Number:",n)

Enter a number: 10
Number: 10

In [11]:
n = int(input("Enter a number: "))

print("Number:",n)

Enter a number: ten

ValueError: invalid literal for int() with base 10: 'ten'

In [12]:
try:
    n = int(input("Enter a number: "))

    print("Number:",n)
    
except ValueError as ve:
    print("Exception occurred:",ve)

Enter a number: ten
Exception occurred: invalid literal for int() with base 10: 'ten'

### TypeError

In [13]:
inp_name = input("Enter your name: ")
inp_age = int(input("Enter your age: "))

name_age = inp_name+inp_age

print(name_age)

Enter your name: Amit
Enter your age: 23

TypeError: can only concatenate str (not "int") to str

In [14]:
try:
    inp_name = input("Enter your name: ")
    inp_age = int(input("Enter your age: "))

    name_age = inp_name+inp_age

    print(name_age)

except TypeError as te:
    print("Exception occured:",te)

Enter your name: Amit
Enter your age: 23
Exception occured: can only concatenate str (not "int") to str