# Loops in python

## 1. For:
    
   # Decrementing Loops Loops checks condition of the iteration before performing the current iteration and runs the loop if it is true

In [27]:
for i in "fruit":
    print(i)

f
r
u
i
t

In [28]:
f = "apple"

for i in f:
    print(i)

a
p
p
l
e

In [37]:
f = "pineapple"

In [49]:
for i in range(len(f)):
    if(f[i]=='a' or f[i]=='e' or f[i]=='i' or f[i]=='o' or f[i]=='u'):
        print(f[i])

i
e
a
e

In [56]:
for i in f:
    if(i=='a' or i=='e' 
       or i=='i' or i=='o' or i=='u'):
        print(i)

i
e
a
e

In [62]:
s = ['Amit',0,10.01]
s

['Amit', 0, 10.01]

In [68]:
for i in s:
    if(type(i) == str):
        for j in i:
            print(j)
    else:
        print(i)

A
m
i
t
0
10.01

In [76]:
square = []

for i in range(1,11):
    square.append(i**2)
    
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
even = []

for i in range(1,101):
    
    if i%2==0:
        even.append(i)
    
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [100]:
marks = []
n = int(input("Enter no of subject/s: "))

for i in range(n):
    m = int(input("Enter the marks: "))
    marks.append(m)
    
total = 0

for i in marks:
    total = total + i
    
print(f"Average of the marks: {total/n}")

Enter no of subject/s: 3
Enter the marks: 33
Enter the marks: 3
Enter the marks: 64
Average of the marks:  33.33

In [18]:
# n = int(input("Enter a number"))
# fact = i
# for i in range(n, 0, -1):
    
#     fact *= i
    
# print(fact)

In [26]:
n = {}

k = int(input("Enter no of keys: "))
v = int(input("Enter no of values: "))

if k==v:
    
    for i in range(k):
        key = input("Enter the key: ")
        value = input("Enter the value: ")
        
        n[key] = value
        
else:
    print("Keys and values count should be same")

print(n)

Enter no of keys: 1
Enter no of values: 1
Enter the key: Age
Enter the value: 23
{'Age': '23'}

In [25]:
n.update()

dict_keys

In [49]:
d = {}

s = input("Enter a string: ")

# My Method
 
for i in s:
    if i in d.keys():
        d[i] += 1
    else:
        d[i]=1

# Inbuilt Functions method

# for i in s:
#     d[i] = s.count(i)

    
print(d)

Enter a string: apple
{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [52]:
d = {}

for i in range(1,11):
    d[i] = i**2
    
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [65]:
set_even = set()

for i in range(1,21):
    if i%2 == 0:
        set_even.add(i)
        
print(s_e)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [4]:
n = 1
s = 0
while(n<=10):
    s+=n
    n+=1
    
print(s)

55

In [ ]:
s = input("Enter the email: ")

# for i in s:
    
#     if i == '@':
#         break
#     elif(i.isaplha()):
#         print(i,end='')

for i in s:
    
    if (i == '@'):
        break
    elif((i>='a' and i<='z') or (i>='A' and i<='Z')):
        print(i,end='')

In [12]:
for i in range(1,11):
    for j in range(1,11):
        print(j*i,end='\t')
        
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [29]:
for i in range(5):
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [31]:
for i in range(5,0,-1):
    for j in range(i):
        print('*',end='')
    print()

*****
****
***
**
*

In [36]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
[i for i in range(1,51) if i%2!= 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [40]:
city = ['pune','chennai','mumbai','delhi','ahemdabad']

In [42]:
[len(i) for i in city]

[4, 7, 6, 5, 9]

In [44]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [45]:
d = {'a':1, 'b': 2, 'c':3, 'd':4}

In [47]:
{k:v**3 for k,v in d.items()}

{'a': 1, 'b': 8, 'c': 27, 'd': 64}

# Tuple creates a generator object instead of creating a tuple
# Generator object deletes it from the memory after extraction

In [51]:
tuple(i for i in range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
print("Prime numbers are ",end='')
for i in range(2,1000):
    flag = True
    for j in range(2,i//2):
        if(i%j==0):
            flag = False
            break
    if(flag):
        print(f"{i}",end=' ')

Prime numbers are 2 3 4 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [1]:
s = 'Amit'