In [1]:
s = set()

s.add(10)

1
23
456
78910

In [4]:
k = 1

for i in range(4):
    for j in range(i+1):
        print(k,end='')
        k+=1
    print()

1
23
456
78910

# 1. Right angled Traingle

*
**
***
****
*****

In [6]:
n = int(input("Enter a number: "))

for i in range(n):
    
    for j in range(i+1):
        print("*", end='')
        
    print()

Enter a number: 6
*
**
***
****
*****
******

# 2. Left Triangle Star Pattern

     *
    **
   ***
  ****
 *****
******

In [12]:
n = int(input("Enter a number: "))

for i in range(n):
    
    for j in range(n,i+1,-1):
        print(" ", end='')
    
    for j in range(i+1):
        print("*", end='')
        
    print()

Enter a number: 7
      *
     **
    ***
   ****
  *****
 ******
*******

# 3. Pyramid Star Pattern

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [14]:
n = int(input("Enter a number: "))

for i in range(n):
    
    for j in range(n,i+1,-1):
        print(" ", end='')
    
    for j in range(i+1):
        print("*", end=' ')
    
    print()

Enter a number: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

# 4. Diamond Shape Pattern

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [24]:
n = int(input("Enter a number: "))

for i in range(n):
    
    for j in range(n,i+1,-1):
        print(" ", end='')
    
    for j in range(2*i+1):
        print("*", end='')
        
    print()
    
for i in range(n-1):
    
    for j in range(i+1):
        print(" ", end='')
        
    for j in range(2*(n-i)-3):
        print("*", end='')
        
    print()

Enter a number: 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# 5. Downward Triangle Pattern

*****
****
***
**
*

In [26]:
n = int(input("Enter a number: "))

for i in range(n,0,-1):
    
    for j in range(i):
        print("*", end='')
    
    print()

Enter a number: 5
*****
****
***
**
*

# 6. Mirrored Right angled triangle

    *
   **
  ***
 ****
*****

In [34]:
n = int(input("Enter a number: "))

for i in range(n+1):
    
    for j in range(n,i+1,-1):
        print(" ", end='')
        
    for j in range(i):
        print("*", end='')
        
    print()

Enter a number: 5

   *
  **
 ***
****
*****