
# Database Connectivity

In [1]:
import mysql.connector
from mysql.connector import Error

In [2]:
def create_connection():
    
    
    try:
        con = mysql.connector.connect(host='localhost',username='root',password='pass',database='db_python')

        if con.is_connected():
            print("Database connected")
            return con

    except Error as e:
        print("Exception occurred",e)


def close_connection(con):
    
    con.close()
    print("Database Disconnected")
# finally:
#     if con.is_connected():
#         con.close()

# If error occurred

try:
    con = mysql.connector.connect(host='localhost',username='root',password='pass',database='random_db')
    
    if con.is_connected():
        print("Database connected")
    
except Error as e:
    print("Exception occurred",e)
    
finally:
    if con.is_connected():
        con.close()

# Create table

In [ ]:
con = create_connection()

if con.is_connected():
    cur = con.cursor()

    create_table = '''  Create table student(
                        id int not null,
                        name varchar(255) not null,
                        course varchar(255) not null,
                        admission_date date not null,
                        primary key(id)
                        )'''

    # create_table = '''drop table if exists student;
    #                     Create table student(
    #                     id int not null,
    #                     name varchar(255) not null,
    #                     course varchar(255) not null,
    #                     admission_date date not null,
    #                     primary key(id)
    #                     )'''

    try:
        cur.execute(create_table)
        print("Table created")
        close_connection(con)

    except Error as e:
        print("Exception occurred",e)

# Inserting into table

In [ ]:
con = create_connection()

cur = con.cursor()

insert_one = '''insert into student(id,name,course,admission_date)
                values (1,'Amit',25000,'2022/12/27');
                '''

try:
    cur.execute(insert_one)
    con.commit()
    print("Data inserted")

except Error as e:
    print("Exception occurred",e)

# Inserting multiple data into table

In [ ]:
con = create_connection()

cur = con.cursor()

insert_many = '''insert into student(id,name,course,admission_date)
                values (%s,%s,%s,%s);
                '''

data = [
    (2,'Arnav','Machine Learning','2022/12/5'),
    (3,'Aman','Artificial Intelligence','2022/12/10'),
    (4,'Sudhanshu','SQL Developer','2022/12/15'),
]

try:
    cur.executemany(insert_many,data)
    con.commit()
    print("Data inserted")

except Error as e:
    print("Exception occurred",e)

# Retrieve data from database

### cursor.fetchall() -> Retrieve all results -> Returns list of tuples

### cursor.fetchmany() -> Retrieve no of records specified **If specified none then returns only one record** -> Returns list of tuples

## fetchall() example

In [ ]:
con = create_connection()

cur = con.cursor()

retrieve_query = '''Select * from student;'''

cur.execute(retrieve_query)

result = cur.fetchall()

for record in result:
    print(f'id: {record[0]}, name: {record[1]}, course: {record[2]}, date: {record[3]}')
    
close_connection(con)

## fetchmany() example

In [ ]:
con = create_connection()

cur = con.cursor()

retrieve_query = '''Select * from student'''

cur.execute(retrieve_query)

result = cur.fetchmany(2)

print(result)

close_connection(con)

# Update

In [3]:
con = create_connection()

cur = con.cursor()

update_query = '''Update student set course = "Full Stack Developer" where id = 1'''

cur.execute(update_query)
con.commit()
print(f'{cur.rowcount} record/s updated')

Database connected
1 record/s updated

# Delete

In [4]:
delete_query = 'delete from student where id = 5'

cur.execute(delete_query)
con.commit()
print(f'{cur.rowcount} record/s deleted')

1 record/s deleted